.cart__wrapper{
height: 1435px;
border: 2px solid red;

display: flex;
flex-direction: column;

}

.cart__header_text{
    width: 84px;
    height: 40px;
   

font-family: var(--font-main);
font-style: normal;
font-weight: var(--bold-font);
font-size: 32px;
line-height: 40px;
text-transform: uppercase;

color: #1D1F22;
}