@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.header__wrapper{
width: 100%;
height: 80px;
left: 0px;
top: 0px;




display: flex;
justify-content: center;
align-items: center;
}
.header__firstchild{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 2;
}

.child__wrapper{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .3rem;
}

.active1{
    color: #5ECE7B;
}
.active2{
    background: #5ECE7B;
}

button{
    border: none;
    background: #FFFFFF;
    margin-bottom: 1rem;
}
.border{
width: 100%;
color: #5ECE7B;
border-bottom: 2px solid #5ECE7B;

   
}

.gender{
    height: 20px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
 
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1D1F22;
    
    margin-top: 3.7rem;
    
}


 .gender{
    margin-left: 1.5rem;
    
    
    }
.gender:hover{
border-bottom: 3px solid rgba(26, 119, 233, 0.733);
cursor: pointer;


}

.header__logo__wrapper{
    height: 28.62px;
    width: 24.18px;
    border-radius: 2px;
    margin-right: .5rem;
background: linear-gradient(316.98deg, #52D67A 16.88%, #5AEE87 84.04%);
}

.logo__container{
    height: 23.84px;
    width: 27.09px;
    left: 2.009765625px;
    top: 0px;
    border-radius: 0px;

    /* svg 2 */


left: 6.45%;
right: 6.6%;
top: 0%;
bottom: 20.98%;

background: #1DCF65;
    
}


.logo{
    height: 15.99px;
width: 14.08px;
left: 7.96px;
top: 12.3px;
border-radius: 0px;
margin-top: .3rem;
cursor: pointer;
    
    
    left: 25.55%;
    right: 29.25%;
    top: 40.75%;
    bottom: 29.47%;
    
    color: #FFFFFF;
    }

.arrow{
    height: 3.19px;
    width: 5.41px;
    left: 18.90px;
    top: 9.43px;
    border-radius: 0px;
    
    position: absolute;
    left: 60.65%;
    right: 21.97%;
    top: 31.25%;
    bottom: 58.17%;
    
    background: #FFFFFF;
}

.header__currency{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
option{  
left: 88.06%;
right: 8.06%;
top: 8.92%;
bottom: 89.16%;

font-family: var(--font-main);
font-style: normal;
font-weight: var(--medium-font);
font-size: 18px;
line-height: 160%;

color: #1D1F22;
}
select,.cart{
    margin-left: .5rem;
    cursor: pointer;
}

.btn{
   margin: 2rem;
   background: #5ECE7B;
   border-radius: 5px;
   padding: .5rem 1rem .5rem 1rem;
   cursor: pointer;
   font-family: var(--font-main);
   font-weight: var(--medium-font);
}

@media  screen and (max-width: 1024px){
    .gender{
        margin-left: 1rem;
        font-size: 13px;
    }
    option{ 
        font-size: 13px;
        line-height: 60%;
        }
}

@media  screen and (max-width: 600px){
   
    .gender{
        margin-left: .5rem;
        margin-right: .4rem;
        font-size: 14px;
        
        
    }
    .logo__container{
        height: 23.84px;
        width: 20.09px;
    }
    option{ 
        font-size: 13px;
        line-height: 60%;
        }
    
}