

.category__item{
    margin: 1rem;
}
.category__titles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.product__image{
    width: 100%;
}
.product__name{
    height: 29px;
width: 354px;
left: 0px;
top: 0px;

font-family: var(--font-main);
font-size: 18px;
font-weight: var(--normal-font);
line-height: 29px;
letter-spacing: 0px;
text-align: left;

color: #1D1F22;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.product__price{
    
width: 58px;
height: 29px;

/* --price-regular-font */

font-family: var(--font-main);
font-style: normal;
font-weight: var(--medium-font);
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

text-align: right;

/* --c-black */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.catigory__cart_icon{
    height: 52px;
width: 52px;
left: 0px;
top: 0px;
border-radius: 10px;
padding: 4px;
color: #fff;


left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* --c-primary */

background: #5ECE7B;
}